// .dropdown-item {
//   border-bottom: 1px solid #fff;
// }

.separator-line {
  border-bottom: 1px solid #979797;
  width: 150px;
  margin: auto;
}

.site-title {
  font-size: 24px;
  font-weight: bold; 
}